.orderformwrapper{
    color: white;
    opacity: 1;
    padding-bottom: 10px;
    
    border-top: 20px solid transparent;
    border-image: var(--backgroundhover);
    border-image-slice: 1;
    background: var(--darkgreybackground);
}


.orderformwrapper:hover{
    border-top: 20px solid transparent;
    border-image: var(--backgroundhover);
    border-image-slice: 1;
    opacity: 1;
    background: var(--darkgreybackground);
}

.orderform input {
    display: block;
    background: transparent;
    border-bottom: 2px solid transparent;
    border-image: var(--backgroundhover);
    border-image-slice: 1;
    color: white !important;
    box-shadow: var(--shadowinset);
}

.orderform ::-webkit-input-placeholder{
    color: white;
}

.orderform h4{
    margin-top: 20px !important;
    
}




.orderform textarea{
    width: 100%;
    height: 200px;
    margin-top: 10px;
    border: none;
    background: transparent;
    border: 2px solid transparent;
    border-image: var(--backgroundhover);
    border-image-slice: 1;
    color: White;
    box-shadow: var(--shadowinset);
    padding: 5px;
    
}

.radiolabel{
    display: inline-block !important;
    min-width: 120px;
    font-weight: 200;
    
}

.radiobutton{
    display: inline-block !important;
    min-width: 100px !important;
    box-shadow: none !important;
}



