.dashboardcontainer{
    padding-left: 70px;
    
}

#dashboardusericon{
    position: absolute;
    font-size: 250px;
    color:darkgray;
    opacity: 0.1;
    left: 60%;
}

@media (max-width: 768px) {
.dashboardcontainer{
    padding-left: 10px;
}
}

.dashboarduserwrapper{
    background: white;
    padding-top: 20px;
    min-height: 200px;
    transition: all 200ms linear; 
    overflow: hidden;
}

.dashboarduserwrapper:hover{
    background: var(--backgroundhover);
    color: white;
    transform: scale(1.05);
    z-index: 102;    
}

.dashboarduserwrapper:hover .dashboarduserheading p{
    color: white;
}

.dashboarduserwrapper:hover .dashboarduserheading h2{
    color: white;
}

.dashboarduserwrapper:hover #dashboardusericon{
    color: white;
    opacity: 0.2;
}


.dashboarduserheading p{
    float:right;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--mainfont);
}

.dashboarduserheading h2{
    float:left;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--mainfont);
}

.dashboardusertext{
    color: var(--mainfont);
    margin-top: 100px;
}

.dashboardusertext h3{
    line-height: 0;
}
.cardheader{
    text-align: left;
    /* border-bottom: 2px solid transparent;
    border-image: var(--backgroundhover);
    border-image-slice: 1; */
    background: var(--backgroundhover);
    color: white;
    box-shadow: var(--shadow);
}

.openordercard{
    background: white;
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-left: 0px;
    padding-right: 0px;
    transition: all 200ms linear;
    overflow: hidden;
}

.openordercard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    
}

.openordercard h2{
    font-size: 6rem;
    text-align: center;
    color: white;
}




.highprioritycard{
    background: var(--darkgreybackground);
    overflow: hidden;
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
    transition: all 200ms linear;
}

.highprioritycard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
}

.highprioritycard h2{
    color: white;
    font-size: 6rem;
}



.messagecard{
    background: var(--greybackground);
    min-height: 200px;
    
    padding-top: 20px;
    color: grey;
    text-align: center;
    transition: all 200ms linear;
    overflow: hidden;
   
}

.messagecard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
}




.messagecard h2{
    color: white;
    font-size: 6rem;
    
   
}





.customercard{
    background: var(--darkgreybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-left: 0px;
    padding-right: 0px;
    transition: all 200ms linear;
    overflow: hidden;
}




.customercard h2{
    font-size: 6rem;
    text-align: center;
    color: white;
}



.createtimestampcard{
    background: var(--darkgreybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
    transition: all 200ms linear;
    overflow: hidden;
    z-index: 1;
}

.createtimestampcard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    color: white;
}


.statscard{
    background: var(--darkgreybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
   
}

.statscard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    color: white;
}


.statscard h2{
    color: white;
    font-size: 6rem;
    
    margin-top: 20px;
}






.dashcard{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    min-height: 190px;
    transition: all 200ms linear;
    overflow: hidden;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: white;
    
}

.dashcard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    color: white;
    
}

.dashcard:hover > .cardfield{
    box-shadow:none;
    background: transparent;
}

.dashcard:hover i {
    color: white;
    opacity: 0.2;
}
.dashcard h3{
    color: black;
    text-align: left;
    margin-bottom: 2px;
    font-size: 1.6rem;
    
}

.dashcard:hover h3{
    color: white;
}

.dashcard p{
    text-align: left;
    line-height: 120%;
    font-size: 1.4rem;
}

.dashcard i{
    position: absolute;
    font-size: 290px;
    color: darkgray;
    left: 90px;
    bottom: -50px;
    
    opacity: 0.1;
    


}


.cardfield{
     
    margin-top: 0px;
    background: var(--backgroundhover);
    width: 30%;
    border-radius: 15px 0px 15px 0px;
    min-height: 50px;
    color: white;
    opacity: 1;
    /* box-shadow: var(--shadowinset); */
}

.cardfield h2{
    padding-top: 3px;
    font-size: 4.0rem;
}
