.dashboardcontainer{
    padding-left: 70px;
    
}

#dashboardusericon{
    position: absolute;
    font-size: 250px;
    color: rgba(255,255,255,0.1);
    left: 30%;
}

@media (max-width: 768px) {
.dashboardcontainer{
    padding-left: 10px;
}
}

.dashboarduserwrapper{
    background: grey;
    padding-top: 20px;
    min-height: 200px;
    transition: all 200ms linear; 
    overflow: hidden;
}

.dashboarduserwrapper:hover{
    background: var(--backgroundhover);
    color: white;
    transform: scale(1.05);
    z-index: 102;    
}

.dashboarduserheading p{
    float:right;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.dashboarduserheading h2{
    float:left;
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.openordercard{
    background: var(--darkgreybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
    transition: all 200ms linear;
    overflow: hidden;
}

.openordercard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    
}

.openordercard h2{
    font-size: 6rem;
    text-align: center;
    color: white;
}

#openordercardicon {
    font-size:250px;
    position: absolute;
    color: rgba(255,255,255,0.1);
}


.highprioritycard{
    background: var(--darkgreybackground);
    overflow: hidden;
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
    transition: all 200ms linear;
}

.highprioritycard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
}

.highprioritycard h2{
    color: white;
    font-size: 6rem;
}

#highprioritycardicon{
    font-size:250px;
    position: absolute;
    
    
    color: rgba(255,255,255,0.1);
}

.messagecard{
    background: var(--greybackground);
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    padding: 0px;
    padding-top: 50px;
    text-align: center;
    transition: all 200ms linear;
    overflow: hidden;
   
}

.messagecard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
}

.messagecard img {
    
    
    top:0;
    left:0;
    opacity: 0.1;
    object-fit: contain;
    width: 100%;
    height: 100%;
    z-index: -100;
   
    

}

.messagecard p{
    color: grey;
    display: inline;
    margin-right: 10px;
    margin-left: 10px; 
}

.messagecard h2{
     color: white;
    font-size: 6rem;
    display: inline;
}

#messagecardicon{
    position: absolute;
    font-size: 250px;
    color: rgba(255,255,255,0.1);
    
}



.customercard{
    background: var(--greybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
    transition: all 200ms linear;
    overflow: hidden;
}


.customercard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    
}

.customercard h2{
    font-size: 6rem;
    text-align: center;
    color: white;
}



.createtimestampcard{
    background: var(--darkgreybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
    transition: all 200ms linear;
    overflow: hidden;
    z-index: 1;
}

.createtimestampcard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    color: white;
}


.statscard{
    background: var(--darkgreybackground);
    min-height: 200px;
    text-align: center;
    color: grey;
    padding-top: 20px;
    transition: all 200ms linear;
    overflow: hidden;
    z-index: 1;
}

.statscard:hover{
    background: var(--backgroundhover);
    transform: scale(1.05);
    z-index: 99;
    color: white;
}


.statscard h2{
    color: white;
    font-size: 6rem;
    
    margin-top: 20px;
}



#statscardicon{
    position: absolute;
    font-size: 250px;
    color: rgba(255,255,255,0.1);
    left: 80px;
    bottom: -90px;
}